<div class="trackListContainer">
  <div class="searchContainer">
    <div class="searchInputComp">
      <app-search (notifyTrackInput)='searchTrack($event)'></app-search>
    </div>
    <div *ngFor="let currentTrack of tracks ; index as i ; trackBy: trackByFn">
      <app-track *ngIf="i >= startshownTracks && i < endshownTracks " [currentTrack]='currentTrack' (notifyClickedTrack)='imageContainer($event)'></app-track>
      <span *ngIf="(currentTrack | json) === '{}'">NO TRACKS</span>
    </div>
    <div class="controls" *ngIf="this.tracks.length > 6">
      <div class="nextButton" (click)="nextTracks()" *ngIf="endshownTracks <= this.tracks.length">
        <img src='.\assets\next.png'>
      </div>
      <div class="prevButton" (click)="prevTracks()" *ngIf="startshownTracks > 0">
        <img src='.\assets\next.png'>
      </div>
    </div>
  </div>

  <div class="imageContainer fadeout" *ngIf="trackClickedFlag">
    <app-track-cover class="imgCoverComp" [currentClickedTrack]='currentClickedTrack'></app-track-cover>
  </div>
</div>